<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shakespeare</title>
</head>
<body>
<div>
    William Shakespeare was born in Stratford-upon-Avon, the United Kingdom in April 1564.
    He was a son of the middle-class parents, John and Mary Shakespeare.
    They lived in a small town of Stratford-upon-Avon in Warwickshire, Shakespeare was the first surviving son,
    for two earlier children, Joan and Margaret, who died in childhood. His early life was spent at two locations;
    Stratford, his native town, and London, the hub of English theatre.
</div>
</body>
</html>